STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=medusa-afrwis.serverless.aps1.cache.amazonaws.com:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://masteruser:vnkHZNkFcY9GV1kf@medusa-postgres.cjok42o0o8v9.ap-south-1.rds.amazonaws.com:5432/medusa
DB_NAME=medusa-v2
POSTGRES_URL=postgres://masteruser:vnkHZNkFcY9GV1kf@medusa-postgres.cjok42o0o8v9.ap-south-1.rds.amazonaws.com:5432/medusa
